[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Icon=PathToDecompressedDirectory/saynetes.png
Path=PathToDecompressedDirectory/
Exec=PathToDecompressedDirectory/saynetes
Name=Saynètes 3.1.0
GenericName=Lazarus IDE with Free Pascal Compiler
Categories=Application;Audio;
Keywords=show;audio;dmx;
